.filter input {
  width: 14px;
  height: 14px;
  margin: 0 11px 0 0;
}

.filter li {
  display: flex;
  align-items: center;
  padding: 4px 0;
  font-size: 15px;
  font-weight: 300;
}

.filter h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--orange-color);
  margin: 0 0 22px 0;
}


.section {
  margin: 0 0 22px 0;
}

.section:last-child {
  margin: 0;
}

.company {
  margin: 0 9px 0 0;
}

.count {
  font-size: 13px;
  color: #bababa;
}

.summary {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 11px;
  cursor: pointer;
  color: var(--white-color);
  background: var(--linear-gradient);
  border-radius: 2px;
}

.details[open] {
  
}

.details[open] summary {
  margin-bottom: 20px;
}
