/* CARD */
.features {
  display: flex;
  gap: 22px;
}

.image {
  flex: 2;
}

.desc {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 0.97rem;
}

.benefits {
  font-size: 0.97rem;
}