
.link:hover {
  color: var(--orange-color);
}

.icon_basket {
  font-size: 23px;
  cursor: pointer;
  color: var(--green-color);
  transition: color 0.3s ease-out;
}

.icon_basket:hover {
  color: var(--orange-color);
}