
@media screen and (max-width: 670px) {
  .icon {
    display: block;
    font-size: 26px;
    color: var(--green-color);
    transition: color 0.5s ease-out;
  }
  
  .icon:hover {
    color: var(--orange-color);
  }
  
  .icon:focus {
    color: var(--orange-color);
  }
}

@media screen and (min-width: 671px) {
  .icon {
    display: block;
    font-size: 30px;
    color: var(--green-color);
    transition: color 0.5s ease-out;
  }
  
  .icon:hover {
    color: var(--orange-color);
  }
  
  .icon:focus {
    color: var(--orange-color);
  }

}