@media screen and (max-width: 670px){
  /* .breadcrumb {
    display: flex;
    align-items: center;
    min-height: 116px;
    margin: 0 0 40px 0;
    background: url('/banner-background.png') 126px -6px /auto auto no-repeat;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 633px;
    padding: 20px;
  } */

  .breadcrumb {
		padding: 0 16px;
		margin: 0 0 11px 0;
	}
}

@media screen and (min-width: 671px) {
  .breadcrumb {
    display: flex;
    align-items: center;
    min-height: 150px;
    margin: 0 0 40px 0;
    background: url('/banner-background.png') 360px 0px/auto auto no-repeat;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 633px;
    padding: 20px;
  }
}