.home {
  font-weight: 300;
  font-size: var(--font-text);
  padding: var(--padding);
}

.link {
  transition: all 0.3s ease-out;
}

.arrow {
  display: block;
  font-size: 33px;
  font-weight: 600;
  line-height: 136%;
  color: var(--orange-color);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.h2:hover > .arrow {
  transform: translateX(6px);
}


.body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  margin: var(--margin-block);
}

.h2 {
  font-size: 33px;
  display: contents;
  font-weight: 600;
  line-height: 136%;
  color: var(--orange-color);
  text-transform: uppercase;
}
