/* PAGE */
.container {
  display: flex;
  gap: 22px;
  margin: 0 0 44px 0;
}

.body {
  flex: 4;
}

.aside {
  flex: 1;
}

.link {
  font-size: .97rem;
  font-weight: 300;
  line-height: 186%;
  text-wrap: pretty;

  text-underline-offset: 4px;
  text-decoration: revert;
  text-decoration-color: #c9c9c9;
  transition: color 0.3s ease-out;
}

.link:hover {
  color: var(--orange-color);
}

/* LIST */
.container {
  display: flex;
  gap: 11px;
}

.image {
  flex: 1;
  position: relative;
}

.image img {
  object-fit: cover;
}

.content {
  flex: 6;
}

.price {
  flex: 1;
  align-self: center;
  text-align: right;
  font-weight: 400;
  color: var(--orange-color);
}

.desc {
  font-size: .97rem;
  font-weight: 300;
  line-height: 150%;
  text-wrap: pretty;
}

.h3 {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 166%;
  color: var(--green-color);
}

.price::after {
  font-size: .95rem;
  content: ' \20BD';
}

