.h4 {
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--orange-color);
  padding: var(--padding);
}

.h6 {
  padding: 11px 0;
  color: var(--green-color);
  font-weight: 400;
  font-size: 16px;
}

.price {
  color: var(--green-color);
  font-weight: 400;
}

.price::after {
  font-size: 13px;
  content: ' \20BD';
}