@media screen and (max-width: 670px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 0 0 40px 0;
    padding: var(--padding);
  }

  .box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 633px;
    padding: 20px;
  }
}

@media screen and (min-width: 671px) {
  .container {
    display: flex;
    gap: 22px;
    margin: 0 0 40px 0;
    padding: var(--padding);
  }
  
  .body {
    flex: 4;
  }
  
  .aside {
    flex: 1;
  }

  .box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 633px;
    padding: 20px;
  }
}
