@media screen and (max-width: 670px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 0 0 40px 0;
    padding: var(--padding);
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    min-height: 122px;
    margin: 0 0 25px 0;
    background: url('/banner-background.png') 155px 0px/auto auto no-repeat;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 633px;
    padding: 20px;
  }
}

@media screen and (min-width: 671px) {
  .container {
    display: flex;
    gap: 22px;
    margin: 0 0 40px 0;
    padding: var(--padding);
  }
  
  .body {
    flex: 4;
  }
  
  .aside {
    flex: 1;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    min-height: 150px;
    margin: 0 0 25px 0;
    background: url('/banner-background.png') 360px 0px/auto auto no-repeat;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 633px;
    padding: 20px;
  }
}
