.h1_body {

}

.h1_body h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 136%;
  text-transform: uppercase;
  color: var(--green-color);

}

@media screen and (max-width: 670px) {
.h1_body h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 136%;
    text-transform: uppercase;
    color: var(--green-color);

  }
}

.h2_body {
  display: flex;
  gap: 6px;
  transition: all 0.2s ease-in-out;
}

.h2_body h2 {
  display: contents;
  font-size: 16px;
  font-weight: 500;
  line-height: 136%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--orange-color);
}

.arrow {
  display: block;
  font-weight: 600;
  line-height: 136%;
  text-transform: uppercase;
  color: var(--orange-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.h2_body h2:hover > .arrow {
  transform: translateX(-3px);
}