.h1 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--green-color);
}


.body {
  display: flex;
  gap: 6px;
  transition: all 0.2s ease-in-out;
}

.body h2 {
  font-weight: 500;
  line-height: 136%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--orange-color);
}

.body:hover > .arrow {
  transform: translateX(-3px);
}

.arrow {
  display: block;
  font-weight: 500;
  line-height: 136%;
  text-transform: uppercase;
  color: var(--orange-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}



/* .block {
  background: green;
  border-radius: 10px;
  padding: 20px;    
  position: relative;
  color: #fff;
}

.block::after {
  border: 20px solid transparent; 
  border-right: 20px solid green;
}

.icon {
  color: var(--orange-color);
  transition: color 0.1s ease-out;
} */


/* .link:hover {
  
}

.link:hover .icon, .link:hover h2 {

} */

