.price  {
  display: flex;
  gap: 11px;
  align-items: center;
}

.price ul {
  display: flex;
  gap: 5px;
  align-items: center;
}

.basic, .basic-package, .discount, .discount-package{
  flex: 1 0 auto;
}

.price h6 {
  font-size: 0.95rem;
  min-width: 155px;
  font-weight: 500;
  color: var(--atributes-color);
}

.basic, .basic-package {
  font-weight: 400;
  color: var(--green-color);
}

.discount, .discount-package {
  font-weight: 400;
  color: var(--orange-color);
}

.rub {
  margin: 0 5px;
  font-size: var(--font-price);
}

/* 
.basic::after {
  font-size: var(--font-price);
  content: ' \20BD';
}
.basic-package::after {
  font-size: var(--font-price);
  content: ' \20BD';
}
.discount::after {
  font-size: var(--font-price);
  content: ' \20BD';
}
.discount-package::after {
  font-size: var(--font-price);
  content: ' \20BD';
}
.ruble::after::after {
  font-size: var(--font-price);
  content: ' \20BD';
} */

.info {
  padding: 5px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 150%;
  text-transform: uppercase;
  border-radius: 2px;
  border: 1px solid var(--grey-color);
  font-size: 8px;
}

@media screen and (max-width: 600px) {
  .info  {
      display: block;
  }
}
