.price  {
  display: flex;
  gap: 11px;
  align-items: center;
}

.price ul {
  display: flex;
  gap: 5px;
  align-items: center;
}

.basic, .basic_package, .discount, .discount_package{
  flex: 1 0 auto;
}

.price h6 {
  font-size: 0.95rem;
  min-width: 155px;
  font-weight: 500;
  color: var(--atributes-color);
}

.basic, .basic_package {
  font-weight: 400;
  color: var(--green-color);
}

.discount, .discount_package {
  font-weight: 400;
  color: var(--orange-color);
}

.rub {
  margin: 0 5px;
  font-size: var(--font-price);
}

.info_text {
  font-size: 13px;
  font-style: italic;
  letter-spacing: 0.2px;
  line-height: 16px;
}

.info {
  padding: 5px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 150%;
  text-transform: uppercase;
  border-radius: 2px;
  border: 1px solid var(--grey-color);
  font-size: 8px;
}

@media screen and (max-width: 600px) {
  .info  {
      display: block;
  }
}
