/* PAGE */
.container {
  display: flex;
  gap: 22px;
  margin: 0 0 44px 0;
}

.body {
  flex: 4;
}

.aside {
  flex: 1;
}


/* CARD */
.card {
  padding: var(--padding);
}

.features {
  display: flex;
  gap: 22px;
  margin: 0 0 22px 0;
}

.image {
  flex: 2;
}

.desc {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 18px;

  font-size: var(--font-text);
  font-weight: 300;
  line-height: 136%;
  text-wrap: pretty;
}

.benefits {
  font-size: var(--font-text);
  font-weight: 300; 
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .features {
    flex-direction: column;
  }
}

/* breadcrumb */

.h1 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--green-color);
}

.h2 {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--orange-color);
  transition: letter-spacing 0.1s ease-out;
}

.link {
  display: flex;
  padding: 0 0 0 5px;
  align-items: center;
  gap: 8px;
}

.icon {
  color: var(--orange-color);
  transition: color 0.1s ease-out;
}

.h2:hover {
  letter-spacing: 1px;
}

.link:hover .icon, .link:hover h2 {

}