/* .breadcrumb {
  display: flex;
  align-items: center;
  min-height: 155px;
  margin: 0 0 44px 0;
  background: url('/banner-background.png') 422px -5px/auto auto no-repeat;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  max-width: 633px;
  padding: 0 0 20px 20px;
} */

.h1 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--green-color);
}

.h2 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--green-color);
  transition: color 0.1s ease-out;
  /* background-color:var(--orange-color);
  background-image: linear-gradient(to left,#ff8803,#319419);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.link {
  display: flex;
  padding: 0 0 0 5px;
  align-items: center;
  gap: 8px;
}

.icon {
  color: var(--green-color);
  transition: color 0.1s ease-out;
}

.h2:hover {
  color: var(--orange-color);
  /* background-color:var(--orange-color); */
  /* background-image: linear-gradient(to right,#ff8803,#319419);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.link:hover .icon, .link:hover h2 {
  color: var(--orange-color);
}


@media screen and (max-width: 670px){
  .breadcrumb {
    display: flex;
    align-items: center;
    min-height: 122px;
    margin: 0 0 25px 0;
    background: url('/banner-background.png') 165px 0px/auto auto no-repeat;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 633px;
    padding: 20px;
  }
}


/* media */
/* @media screen and (max-width: 900px) {
  .box {
    gap: 1px;
  }

  .breadcrumb {
      background: url(/banner-background.png) 355px -3px/auto auto no-repeat;
  }
}


@media screen and (max-width: 600px) {



  .breadcrumb {
    background: url(/banner-background.png) 111px -1px/auto auto no-repeat;
  }
  
} */