.h1 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--green-color);
}

.h2 {
  /* font-size: 15px; */
  font-weight: 500;
  text-transform: uppercase;
  color: var(--green-color);
  transition: color 0.1s ease-out;
}

.link {
  display: flex;
  padding: 0 0 0 5px;
  align-items: center;
  gap: 8px;
}

.icon {
  color: var(--green-color);
  transition: color 0.1s ease-out;
}

.h2:hover {
  color: var(--orange-color);
  /* background-color:var(--orange-color); */
  /* background-image: linear-gradient(to right,#ff8803,#319419);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.link:hover .icon, .link:hover h2 {
  color: var(--orange-color);
}


@media screen and (max-width: 670px){
  .breadcrumb {
    display: flex;
    align-items: center;
    min-height: 122px;
    margin: 0 0 25px 0;
    background: url('/banner-background.png') 155px 0px/auto auto no-repeat;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 633px;
    padding: 20px;
  }
}

@media screen and (min-width: 671px) {
  .breadcrumb {
    display: flex;
    align-items: center;
    min-height: 150px;
    margin: 0 0 25px 0;
    background: url('/banner-background.png') 360px 0px/auto auto no-repeat;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 633px;
    padding: 20px;
  }
}
